@model InvestorsCRM.Models.Master
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ChangePassword", "Master", FormMethod.Post, new { @id = "signupForm" }))
{
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Adminmaster/index"><i class="feather icon-home"></i></a></li>

                                <li class="breadcrumb-item"><a href="#">ChangePassword</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
       
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                     
                        @if (@TempData["Error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="float:right">
                                <strong> @TempData["Error"]!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        }
                        <div class="card-header">
                            <h5>Change Password</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom01">Old Password</label>
                                    @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old Password", @required = "requird"  })
                                    @Html.HiddenFor(m=>m.CreatedBy)
                                  

                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom02">New Password</label>
                                    @Html.TextBoxFor(m=>m.NewPassword, new { @class = "form-control", @placeholder = "New Password", @required = "requird" })
                                   

                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom02">Confirm Password</label>
                                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @required = "requird" })


                                </div>

                            </div>
                            <input type="submit" class="btn  btn-primary" name="btnsave" value="ChangePassword" />


                           

                        </div>
                        <!-- Input group -->

                    </div>
                    <!-- [ form-element ] end -->
                </div>
                <!-- [ Main Content ] end -->

            </div>
      
    </div>
</section>
}


