@model InvestorsCRM.Models.Master
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ChangePassword", "Master", FormMethod.Post, new { @id = "signupForm" }))
{
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    @if (@TempData["Error"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="float:right">
                            <strong> @TempData["Error"]!</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    }
                    <div class="card-header">
                        <h5>Change Password</h5>
                        <div class="card-header-right">
                            <i class="icofont icofont-rounded-down"></i>
                            <i class="icofont icofont-refresh"></i>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row ">
                                    <div class="col-lg-4">
                                        <div class="m-b-1">
                                            <label for="validationCustom01">Old Password</label>
                                            @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old Password", @required = "requird" })
                                            @Html.HiddenFor(m => m.CreatedBy)
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">New Password</label>
                                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password", @required = "requird" })
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">Confirm Password</label>
                                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @required = "requird" })
                                    </div>
                                    <div class="col-lg-4" style="margin-top:25px">
                                        <input type="submit" class="btn  btn-primary" name="btnsave" value="Change Password" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Animation card end -->
            </div>
        </div>
    </div>
}


