@model InvestorsCRM.Models.Master

@{
    ViewBag.Title = "RegistrationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("RegistrationList", "Master", FormMethod.Post, new { @id = "signupForm", @novalidate = "" }))
{
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Master/Registration"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="#"> Registration List</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Registration List</h5>
                            @if (@TempData["update"] != null)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="float:right">
                                    <strong> @TempData["update"]!</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                            }
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="Username">Login Id</label>
                                    @Html.TextBoxFor(m => m.LoginID, new { @class = "form-control", @placeholder = "Login ID" })
                                    @Html.HiddenFor(m => m.UserID)
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="Username">Sponsor Id</label>
                                    @Html.TextBoxFor(m => m.FK_SponsorId, new { @class = "form-control", @placeholder = "Sponsor Id" })
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="Username">From Date</label>
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @placeholder = "From Date", @readonly = "true" })
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="Username">To Date</label>
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @placeholder = "ToDate", @readonly = "true" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <input type="submit" class="btn  btn-success" name="btnSearch" value="Search" />
                                    <a href="/Master/Registration" class="btn btn-info">Add New</a>
                                </div>

                            </div>
                            <div class="card-block">
                                <div class="dt-responsive table-responsive">
                                    <table id="compact" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>S.N.</th>
                                                <th>Investor ID</th>
                                                <th>Sponsor Name</th>
                                                <th>Password</th>
                                                 <th>Mobile</th>
                                                <th>Email Id</th>
                                                <th>Pan No</th>
                                                <th>Adhar No</th>
                                                <th>Bank Account</th>
                                                <th>BankName</th>
                                                <th>Branch Name</th>
                                                <th>IFSC Code</th>
                                                 <th>Address</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.lstRegistation != null)
                                                {

                                                    int i = 1;
                                                    foreach (var item in Model.lstRegistation)
                                                    {
                                                         <tr>
                                                            <td>@i</td>
                                                            <td>@item.FullName</td>
                                                            <td>@item.SponsorName</td>
                                                            <td>@item.Password</td>
                                                            <td>@item.Mobile</td>
                                                            <td>@item.EmailId</td>
                                                            <td>@item.PanNo</td>
                                                            <td>@item.AdharNo</td>
                                                            <td>@item.BankAccount</td>
                                                            <td>@item.BankName</td>
                                                            <td>@item.BranchName</td>
                                                            <td>@item.IFSCCode</td>
                                                            <td>@item.Address</td>
                                                             <td style="display:none">@item.UserID</td>

                                                            <td>
                                                             <a href="/Master/Registration?ID=@item.EncryptKey" class="btn btn-default"><i class="fa fa-eye" style="font-size:20px"></i></a>
                                                                <a href="/Master/DeleteRegistration?ID=@item.UserID" class="btn btn-default">
                                                                    <i class="bi bi-trash"></i><img src="~/assets/trash.svg" />
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        i = i + 1;
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
</script>


