@model InvestorsCRM.Models.Master
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Registration", "Master", FormMethod.Post, new { @id = "signupForm", @novalidate = "" }))
{
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Master/index"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Registration</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        @if (@TempData["Error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="float:right">
                                <strong> @TempData["Error"]!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        }
                        <div class="card-header">
                            <h5>UserRegistration</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="LoginID">LoginId<span style="color:red">*</span></label>
                                    @if (Model.UserID == null)
                                    {
                                        @Html.TextBoxFor(m => m.LoginID, new { @class = "form-control", @Placeholder = "Login ID", @onchange = "return GetLoginName();", @required = "required"
                                   })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.LoginID, new { @class = "form-control", @Placeholder = "Sponsor ID", @readonly = "readonly", @required = "required" })
                                     
                                    }
                                    @*@Html.HiddenFor(m => m.UserID)*@
                                  
                                    @Html.HiddenFor(m => m.FK_SponsorId)
                                  
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="Username">Name<span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Name", @readonly = "readonly", @required = "required" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="Username">Firs tName</label>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name", @required = "required" })
                                </div>
                               
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="Email">Last Name</label>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name", @required = "required" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="PanCard">FatherName</label>
                                    @Html.TextBoxFor(m => m.FatherName, new { @class = "form-control", @placeholder = "FatherName", @required = "required" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="PanCard">Address</label>
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Address" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="Email">Amount <span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @placeholder = "Amount", @onkeypress = "return isNumberOrDecimal(event);", @required = "required" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="PanCard">Plan <span style="color:red">*</span></label>
                                    @Html.DropDownListFor(m => m.PK_PlanID, new SelectList(ViewBag.ddlplan, "Value", "Text"), new { @class = "form-control", @placeholder = "Plan Name", @required = "required" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="PanCard">Agreement PDF</label>
                                    <input type="file" class="form-control" id="sdfa" name="Agreement", required/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="Pincode">Comapany Name<span style="color:red">*</span></label>
                                    @Html.DropDownListFor(m => m.PK_CompanyID, new SelectList(ViewBag.ddlcompanyname, "Value", "Text"), new { @class = "form-control", @placeholder = "Comapany Name", @onchange = "return GetProjectName();", @required = "required" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="PanCard">Project<span style="color:red">*</span></label>
                                    @Html.DropDownListFor(m => m.FK_ProjectID, new SelectList(ViewBag.ddlprojectname, "Value", "Text"), new { @class = "form-control", @placeholder = "State" })
                                </div>
                               <div class="col-md-4 mb-3">
                                    <label for="PanCard">Adhar No<span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.AdharNo, new { @class = "form-control", @placeholder = "Adhar No,", @maxlength = "12", @onkeypress = "return isNumberOrDecimal(event);" })
                                </div>
                            </div>
                       
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="Email">Pan No<span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.PanNo, new { @class = "form-control", @placeholder = "PanNo", @required = "required" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="PanCard">Email ID<span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", @placeholder = "Email ID", @required = "required" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="PanCard">Mobile No.<span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @placeholder = "Mobile No.", @maxlength = "10", @onkeypress = "return isNumberOrDecimal(event);", @required = "required" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="Email">PinCode <span style="color:red">*</span> </label>
                                    @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control", @Placeholder = "Pincode", @onchange = "return getStateCity();", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "6", @required = "required" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="PanCard">City</label>
                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "City", @required = "required" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="PanCard">State </label>
                                    @Html.TextBoxFor(m => m.State, new { @class = "form-control", @placeholder = "State" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="Email">Bank Account No </label>
                                    @Html.TextBoxFor(m => m.BankAccount, new { @class = "form-control", @placeholder = "Bank Account No", @onkeypress = "return isNumberOrDecimal(event);", @required = "required" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="PanCard">Bank Name</label>
                                    @Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @placeholder = "Bank Name", @required = "required" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="PanCard">IFSC Code</label>
                                    @Html.TextBoxFor(m => m.IFSCCode, new { @class = "form-control", @placeholder = "IFSC Code" })
                                </div>
                            </div>
                            <input type="submit" class="btn  btn-primary" name="btnSave" onclick="return validateform();" value="Save" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
    function GetLoginName() {
        debugger;
        $("#divload").css({ 'display': '' });
        var LoginID = $('#LoginID').val();
        $.ajax({
            url: '/Master/GetLoginName', type: 'post', dataType: 'json',
            data: {'LoginID': LoginID},
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                if (data.Result == "yes") {
                    $("#Username").val(data.Username);
                    $("#LoginID").val(data.LoginID);
                    $("#FK_SponsorId").val(data.FK_SponsorId);
                    $("#Username").removeClass('errortext');
                    $("#Username").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    alert("Invalid LoginID");
                    $("#Username").val('');
                    $("#Username").addClass('errortext');
                    $("#Username").addClass('errortext');

                    $('#LoginID').focus();
                    $('#LoginID').val('');
                  
                }
            }

        });
    }

    function validateform() {
        $("#divload").css({ 'display': 'none' });
        $(".errortext").removeClass("errortext");
        if ($('#Mobile').val() == '') {
            $("#Mobile").addClass('errortext');
            $('#Mobile').focus();
            return false;
        }
        if ($('#LoginID').val() == '') {
            $("#LoginID").addClass('errortext');
            $('#LoginID').focus();
            return false;
        }
        if ($('#Amount').val() == '') {
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            return false;
        }
        if ($('#FirstName').val() == '') {
            $("#FirstName").addClass('errortext');
            $('#FirstName').focus();
            return false;
        }
        if ($('#EmailId').val() == '') {
            $("#EmailId").addClass('errortext');
            $('#EmailId').focus();
            return false;
        }
        if ($('#PanNo').val() == '') {
            $("#PanNo").addClass('errortext');
            $('#PanNo').focus();
            return false;
        }
        if ($('#Pincode').val() == '') {
            $("#Pincode").addClass('errortext');
            $('#Pincode').focus();
            return false;
        }
        $("#divload").css({ 'display': '' });
        return true;
    }
    function getStateCity() {

        var pincode = $('#Pincode').val();
        $.ajax({
            url: '/Master/GetStateCity', type: 'post', dataType: 'json',
            data: { 'Pincode': pincode },
            success: function (data) {
                if (data.Result == "yes") {
                    $("#State").val(data.State);
                    $("#City").val(data.City);
                    $("#State").removeClass('errortext');
                    $("#City").removeClass('errortext');
                    $("#Pincode").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    alert("Invalid Pincode");
                    $("#State").val('');
                    $("#City").val('');
                    $("#State").addClass('errortext');
                    $("#City").addClass('errortext');
                    $("#Pincode").addClass('errortext');
                    $('#Pincode').focus();
                    $('#Pincode').val('');

                }
            }

        });
    }
    function GetProjectName() {
        debugger;
        $("#divload").css({ 'display': '' });
        var PK_CompanyID = $('#PK_CompanyID').val();
        $.ajax({
            url: '/Master/GetProjectName', type: 'post', dataType: 'json',
            data: { 'PK_CompanyID': PK_CompanyID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#FK_ProjectID").html(""); // clear before appending new list
                $("#FK_ProjectID").empty();
                $("#FK_ProjectID").append(
                      $('<option></option>').val(0).html('Select Project'));
                $.each(data.ddlProject, function (index, ProjectCount) {
                    $("#FK_ProjectID").append(
                          $('<option></option>').val(ProjectCount.Value).html(ProjectCount.Text));
                });
                //    $("#BlockID").formSelect();
            }

        });
    }

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function validatePan() {
        var panVal = $('#PanNo').val();
        var regpan = /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/;

        if (regpan.test(panVal)) {
            $("#PanNo").removeClass('errortext');
        } else {
            alert("Invalid PAN Number");
            $("#PanNo").val('');
            $("#PanNo").addClass('errortext');
        }
    }



</script>


