@model InvestorsCRM.Models.Master

@{
    ViewBag.Title = "InvestmentForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .single-price {
        text-align: center;
        background: #262626;
        transition: .7s;
    }

        .single-price h3 {
            font-size: 25px;
            color: #000;
            font-weight: 600;
            text-align: center;
            margin: 0;
            font-family: poppins;
            color: #fff;
        }

        .single-price h4 span.sup {
            vertical-align: text-top;
            font-size: 25px;
        }

    .deal-top {
        position: relative;
        background: #16A086;
        font-size: 16px;
        text-transform: uppercase;
        padding: 20px 24px 0;
    }

        .deal-top::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -45px;
            width: 0;
            height: 0;
            border-top: 50px solid #16A086;
            border-left: 175px solid transparent;
            border-right: 183px solid transparent;
        }

    .deal-bottom {
        padding: 40px 16px 1px;
    }

        .deal-bottom ul {
            margin: 0;
            padding-bottom: 10px;
        }

            .deal-bottom ul li {
                font-size: 16px;
                color: #fff;
                font-weight: 500;
                margin-top: 9px;
                text-align: left;
                list-style: none;
            }

    .single-price:hover {
        background: #16A086;
    }

        .single-price:hover .deal-top {
            background: #262626;
        }

            .single-price:hover .deal-top:after {
                border-top: 50px solid #262626;
            }
</style>

@using (Html.BeginForm("InvestmentForm", "Investment", FormMethod.Post, new { @id = "signupForm", @novalidate = "", enctype = "multipart/form-data" }))
{
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <ul class="breadcrumb">
                                @*<li class="breadcrumb-item"><a href="/Master/index"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="#!"></a></li>*@
                                <li class="breadcrumb-item"><a href="#!">Investment Registration</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="row">
                <div class="col-sm-12">
                    <!-- HTML5 Export Buttons table start -->
                    <div class="card">
                        <div class="card-header table-card-header">
                            <div class="card-header-right">
                                <i class="icofont icofont-rounded-down"></i>
                                <i class="icofont icofont-refresh"></i>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                @if (@TempData["Error"] != null)
                                {
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="float:right">
                                        <strong> @TempData["Error"]!</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                }

                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3 mb-2">
                                        <div class="form-group">
                                            <label for="LoginID">
                                                Investor ID <span style="color: red">*</span>
                                                <input type="hidden" name="UserID" id="UserID" value="@Model.UserID" />
                                            </label>
                                            @if (Model.UserID == null)
                                            {
                                                @Html.TextBoxFor(m => m.InvestorId, new { @class = "form-control", @Placeholder = "Investor ID", @onchange = "return getSponsorName();" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.InvestorId, new { @class = "form-control", @Placeholder = "Investor ID", @onchange = "return getSponsorName();", @readonly = "true" })
                                            }
                                            @Html.HiddenFor(m => m.UserID)
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <div class="form-group">
                                            <label for="LoginID">
                                                Investor Name
                                            </label>
                                            @Html.TextBoxFor(m => m.Investorname, new { @class = "form-control", @Placeholder = "Investor Name", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label for="LoginID">Sponsor Id<span style="color:red">*</span></label>
                                        @if (Model.UserID == null)
                                        {
                                            @Html.TextBoxFor(m => m.LoginID, new
                               {
                                   @class = "form-control",
                                   @Placeholder = "Login ID",
                                   @onchange = "return GetLoginName();",
                                   @required = "required"
                               })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(m => m.LoginID, new { @class = "form-control", @Placeholder = "Sponsor ID", @readonly = "readonly", @required = "required" })

                                        }

                                        @Html.HiddenFor(m => m.FK_SponsorId)

                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <label for="Username">Sponsor Name</label>
                                        @Html.TextBoxFor(m => m.SponsorName, new { @class = "form-control", @placeholder = "Sponsor Name", @readonly = "readonly", @required = "required" })
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row mt-3" style="display:none">
                                            <div class="col-md-4 mb-3">
                                                <label for="Email">PinCode <span style="color:red">*</span> </label>
                                                @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control", @Placeholder = "Pincode", @onchange = "return getStateCity();", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "6", @required = "required" })
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="PanCard">City</label>
                                                @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "City", @readonly = true })
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="PanCard">State </label>
                                                @Html.TextBoxFor(m => m.State, new { @class = "form-control", @placeholder = "State", @readonly = true })
                                            </div>

                                        </div>
                                        <div class="row mt-3" style="display:none">
                                            <div class="col-md-4 mb-3">
                                                <label for="PanCard">Mobile No.<span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @placeholder = "Mobile No.", @maxlength = "10", @onkeypress = "return isNumberKey(event);" })
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="PanCard">Email ID</label>
                                                @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", @placeholder = "Email ID", @required = "required" })
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="Email">Pan No<span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.PanNo, new { @class = "form-control", @placeholder = "PanNo", @maxlength = "10", @onchange = "return validatePan()" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <label for="Pincode">Company Name<span style="color:red">*</span></label>
                                                @Html.DropDownListFor(m => m.PK_CompanyID, new SelectList(ViewBag.ddlcompanyname, "Value", "Text"), new { @class = "form-control", @placeholder = "Comapany Name", @onchange = "return GetProjectName();", @required = "required" })
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="PanCard">Project<span style="color:red">*</span></label>
                                                @Html.DropDownListFor(m => m.FK_ProjectID, new SelectList(ViewBag.ddlprojectname, "Value", "Text"), new { @class = "form-control", @placeholder = "State" })
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="PanCard">Plan</label>
                                                @Html.DropDownListFor(m => m.PK_PlanID, new SelectList(ViewBag.ddlplan, "Value", "Text"), new { @class = "form-control", @placeholder = "Plan Name", @required = "required",@onchange= "return OnChangePlan();" })
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="PanCard">Agreement PDF</label>
                                                <input type="file" name="PostedFile" id="PostedFile" class="form-control" />
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="Email">Amount <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @placeholder = "Amount", @onkeypress = "return isNumberOrDecimal(event);" })
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label>Investment Date <span style="color:red">*</span></label>
                                                @Html.TextBoxFor(m => m.InvestmentDate, new { @class = "form-control", @placeholder = "Transaction Date", @readonly = "true" })
                                            </div>
                                            <div class="col-md-4">
                                                <label for="Fk_Paymentid">Payment Mode <span style="color:red">*</span></label>
                                                @Html.DropDownListFor(m => m.Fk_Paymentid, new SelectList(ViewBag.ddlPayment, "Value", "Text"), new { @class = "form-control", @onchange = "return CheckPayMode();" })
                                            </div>
                                        </div>

                                        <div class="row mt-3" style="display:none" id="divPaymentMode">
                                            <div class="col-md-3" id="divtransactiono">
                                                <label for="TransactionNo" id="lbltno">Transaction No</label>
                                                @Html.TextBoxFor(m => m.TransactionNo, new { @class = "form-control", @placeholder = "TransactionNo", })
                                            </div>
                                            <div class="col-md-3" id="divtrdate">
                                                <label for="TransactionDate" id="lbltdate">Transaction Date</label>
                                                @Html.TextBoxFor(m => m.TransactionDate, new { @class = "form-control", @placeholder = "Transaction Date", @readonly = "true" })
                                            </div>
                                            <div class="col-md-3" id="divbankname">
                                                <label for="BankName" id="lblbank">Bank Name</label>
                                                @Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @placeholder = "Bank Name", })
                                            </div>
                                            <div class="col-md-3" id="divbankbranch">
                                                <label for="BranchName" id="lbltbranch">Branch Name</label>
                                                @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control", @placeholder = "Branch Name" })
                                            </div>
                                        </div>

                                        <div class="row mt-3" style="display:none">
                                            <div class="col-md-4 mb-3">
                                                <label for="PanCard">Adhar No</label>
                                                @Html.TextBoxFor(m => m.AdharNo, new { @class = "form-control", @placeholder = "Adhar No,", @maxlength = "12", @onkeypress = "return isNumberOrDecimal(event);" })
                                            </div>
                                            <div class="col-md-8 mb-3">
                                                <label for="PanCard">Address</label>
                                                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "Address" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single-price" id="PlanA">
                                            <div class="deal-top">
                                                <h3>Short Term Investment</h3>
                                            </div>
                                            <div class="deal-bottom">
                                                <ul class="deal-item">
                                                    <li><i class="fa fa-star text-warning"></i> Invest Amount ..........................................</li>
                                                    <li><i class="fa fa-star text-warning"></i> Return Period after 12 Months</li>
                                                    <li><i class="fa fa-star text-warning"></i> Return Profit - .49% of Invested Amount</li>
                                                    <li><i class="fa fa-star text-warning"></i> <strong>Investing Site</strong> - HM Green City | HM Kohinoor City | HM Golden City</li>
                                                    <li><i class="fa fa-star text-warning"></i> Withdrawl amount no time limit</li>
                                                </ul>
                                                <hr class="bg-white m-1" />
                                                <p class="text-white"><strong>Note:</strong> Before withdraw invested amount get prior Information before 3 months.</p>
                                            </div>
                                        </div>
                                        <div class="single-price" id="PlanB" style="display:none">
                                            <div class="deal-top">
                                                <h3>MID TERM INVESTMENT</h3>
                                            </div>
                                            <div class="deal-bottom">
                                                <ul class="deal-item">
                                                    <li><i class="fa fa-star text-warning"></i> Invest Amount -: Rs. 1 Cr</li>
                                                    <li><i class="fa fa-star text-warning"></i>Get 50,000/- back with one person salaried job for 48 months</li>
                                                    <li><i class="fa fa-star text-warning"></i>After 48 months get .49% proﬁt in invested amount </li>
                                                    <li><i class="fa fa-star text-warning"></i>Proﬁt will be return monthly within 24 months </li>
                                                    <li><i class="fa fa-star text-warning"></i>This plan is applicable for new purchase site</li>
                                                </ul>
                                                <hr class="bg-white m-1" />
                                                <p class="text-white"><strong>Note:</strong> Before withdraw invested amount get prior Information before 3 months.</p>
                                            </div>
                                        </div>
                                        <div class="single-price" id="PlanC" style="display:none">
                                            <div class="deal-top">
                                                <h3>LONG TERM INVESTMENT</h3>
                                            </div>
                                            <div class="deal-bottom">
                                                <ul class="deal-item">
                                                    <li><i class="fa fa-star text-warning"></i> Full site manage amount ........ </li>
                                                    <li><i class="fa fa-star text-warning"></i> Total investment................</li>
                                                    <li><i class="fa fa-star text-warning"></i> Proﬁt share Partner 25% whole company proﬁt</li>
                                                    <li><i class="fa fa-star text-warning"></i>Get director posion aer 60 month </li>
                                                    <li><i class="fa fa-star text-warning"></i>Amount will be not returned unll site open</li>
                                                </ul>
                                                <hr class="bg-white m-1" />
                                                <p class="text-white"><strong>Note:</strong> Before withdraw invested amount get prior Information before 3 months.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="form-row">
                                    </div>*@
                                @Html.HiddenFor(m => m.PK_InvestorID)


                                @*<div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <label for="Email">Bank Account No </label>
                                            @Html.TextBoxFor(m => m.BankAccount, new { @class = "form-control", @placeholder = "Bank Account No", @onkeypress = "return isNumberOrDecimal(event);", @required = "required" })
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="PanCard">Bank Name</label>
                                            @Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @placeholder = "Bank Name", @required = "required" })
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="PanCard">IFSC Code</label>
                                            @Html.TextBoxFor(m => m.IFSCCode, new { @class = "form-control", @placeholder = "IFSC Code" })
                                        </div>
                                    </div>*@
                                <div class="col-md-4 mb-3 mt-3">
                                    @if (Model.UserID != null)
                                    {
                                        <input type="submit" class="btn  btn-primary mb-2" name="btnUpdate" value="Update">

                                    }
                                    else
                                    {
                                        <input type="submit" class="btn  btn-primary mb-2" name="btnSave" onclick="return validateform();" value="Save" />
                                    }
                                    <a href="/Investment/InvestmentList" class="btn btn-info mb-2">Back To List</a>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>
    $(document).ready(function () {
        CheckPayMode();
        OnChangePlan();
    });
    function getSponsorName() {
        debugger;
        $("#divload").css({ 'display': '' });
        var InvestorId = $('#InvestorId').val();
        $.ajax({
            url: '/Investment/GetSponsorName', type: 'post', dataType: 'json',
            data: { 'InvestorId': InvestorId },
            success: function (data) {
                debugger;
                $("#divload").css({ 'display': 'none' });
                if (data.Result == "yes") {
                    debugger;
                    $("#SponsorName").val(data.SponsorName);
                    $("#InvestorId").val(data.InvestorId);
                    $("#Investorname").val(data.Investorname);
                    $("#UserID").val(data.InvestorId);
                    $("#LoginID").val(data.LoginID);
                    $("#UserID").val(data.UserID);
                    $("#FK_SponsorId").val(data.FK_SponsorId);
                    //$("#UserID").val(data.UserID);
                    //$("#SponsorName").val(data.SponsorName);
                    //$("#UserID").val(data.UserID);
                    //$("#SponsorName").val(data.SponsorName);
                    //$("#UserID").val(data.UserID);
                    $("#SponsorName").removeClass('errortext');
                    $("#SponsorID").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    alert("Invalid Sponsor ID");
                    $("#SponsorName").val('');
                    document.getElementById('AssociateImage').src = '';
                    $("#SponsorName").addClass('errortext');
                    $("#SponsorID").addClass('errortext');
                    $('#SponsorID').focus();
                    $('#SponsorID').val('');

                }
            }
        });
    }
    function CheckPayMode() {
        if ($('#Fk_Paymentid').val() == '2') {
            $('#lbltno').html('Cheque No.');
            $('#lbltdate').html('Cheque Date');
            $("#divtrdate").show();
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#TransactionNo").attr("placeholder", "Cheque No.");
            $("#TransactionDate").attr("placeholder", "Cheque Date");
        }
        else if ($('#Fk_Paymentid').val() == '3') {
            $('#lbltno').html('NEFT No.');
            $('#lbltdate').text('NEFT Date.');
            $("#divPaymentMode").show();
            $("#divtrdate").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#TransactionNo").attr("placeholder", "NEFT No.");
            $("#TransactionDate").attr("placeholder", "NEFT Date");
        }
        else if ($('#Fk_Paymentid').val() == '4') {
            $('#lbltdate').html('DD Date');
            $('#lbltno').text('DD No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divtrdate").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#TransactionNo").attr("placeholder", "DD No.");
            $("#TransactionDate").attr("placeholder", "DD Date");
        }
        else if ($('#Fk_Paymentid').val() == '5') {
            $('#lbltdate').html('RTGS Date');
            $('#lbltno').text('RTGS No.');
            $("#divtrdate").show();
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#TransactionNo").attr("placeholder", "RTGS No.");
            $("#TransactionDate").attr("placeholder", "RTGS Date");
        }
        else if ($('#Fk_Paymentid').val() == '6') {
            $('#lbltdate').html('IMPS Date');
            $('#lbltno').text('IMPS No.');
            $("#divtrdate").show();
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#TransactionNo").attr("placeholder", "IMPS No.");
            $("#TransactionDate").attr("placeholder", "IMPS Date");
        }
        else if ($('#Fk_Paymentid').val() == '7') {
            $('#lbltno').text('Mobile No./UPI ID');
            $("#divtrdate").hide();
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#TransactionNo").attr("placeholder", "Mobile No. / UPI ID");
            $("#TransactionDate").val('');
            $("#BankName").val('');
            $("#BranchName").val('');
        }
        else if ($('#Fk_Paymentid').val() == '8') {
            $('#lbltno').text('Mobile No./UPI ID');
            $("#divtrdate").hide();
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#TransactionNo").attr("placeholder", "Mobile No. / UPI ID");
            $("#TransactionDate").val('');
            $("#BankName").val('');
            $("#BranchName").val('');
        }
        else if ($('#Fk_Paymentid').val() == '9') {
            $('#lbltno').text('Mobile No./UPI ID');
            $("#divtrdate").hide();
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#TransactionNo").attr("placeholder", "Mobile No. / UPI ID");
            $("#TransactionDate").val('');
            $("#BankName").val('');
            $("#BranchName").val('');
        }
        else if ($('#Fk_Paymentid').val() == '10') {
            $('#lbltno').text('Mobile No./UPI ID');
            $("#divtrdate").hide();
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#TransactionNo").attr("placeholder", "Mobile No. / UPI ID");
            $("#TransactionDate").val('');
            $("#BankName").val('');
            $("#BranchName").val('');
        }
        else {
            $("#divPaymentMode").hide();
            $("#divtransactiono").hide();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divtrdate").hide();
        }

    }
    function validateform() {
        $("#divload").css({ 'display': 'none' });
        $(".errortext").removeClass("errortext");
        if ($('#LoginID').val() == '') {
            $("#LoginID").addClass('errortext');
            $('#LoginID').focus();
            return false;
        }
        //if ($('#FirstName').val() == '') {
        //    $("#FirstName").addClass('errortext');
        //    $('#FirstName').focus();
        //    return false;
        //}
        //if ($('#LastName').val() == '') {
        //    $("#LastName").addClass('errortext');
        //    $('#LastName').focus();
        //    return false;
        //}
        //if ($('#Mobile').val() == '') {
        //    $("#Mobile").addClass('errortext');
        //    $('#Mobile').focus();
        //    return false;
        //}
        //if ($('#PanNo').val() == '') {
        //    $("#PanNo").addClass('errortext');
        //    $('#PanNo').focus();
        //    return false;
        //}
        if ($('#Amount').val() == '') {
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            return false;
        }
        if ($('#PK_PlanID').val() == '0') {
            $("#PK_PlanID").addClass('errortext');
            $('#PK_PlanID').focus();
            return false;
        }
        if ($('#PK_PlanID').val() == '2') {
            if ($('#Amount').val() == '' || Number($('#Amount').val()) < 10000000) {
                alert('Amount should not be less than 10000000 !!')
                $("#Amount").addClass('errortext');
                $('#Amount').focus();
                return false;
            }
        }
        if ($('#FK_ProjectID').val() == '0') {
            $("#FK_ProjectID").addClass('errortext');
            $('#FK_ProjectID').focus();
            return false;
        }
        //if ($('#Pincode').val() == '') {
        //    $("#Pincode").addClass('errortext');
        //    $('#Pincode').focus();
        //    return false;
        //}
        if ($('#Fk_Paymentid').val() == '0') {
            $('#Fk_Paymentid').addClass('errrortext');
            $('#Fk_Paymentid').focus();
            return false;
        }
        if ($('#Fk_Paymentid').val() == '2') {
            if ($('#TransactionNo').val() == '') {
                $("#TransactionNo").addClass('errortext');
                $('#TransactionNo').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BranchName').val() == '') {
                $("#BranchName").addClass('errortext');
                $('#BranchName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#Fk_Paymentid').val() == '3') {
            if ($('#TransactionNo').val() == '') {
                $("#TransactionNo").addClass('errortext');
                $('#TransactionNo').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BranchName').val() == '') {
                $("#BranchName").addClass('errortext');
                $('#BranchName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#Fk_Paymentid').val() == '4') {
            if ($('#TransactionNo').val() == '') {
                $("#TransactionNo").addClass('errortext');
                $('#TransactionNo').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BranchName').val() == '') {
                $("#BranchName").addClass('errortext');
                $('#BranchName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#Fk_Paymentid').val() == '5') {
            if ($('#TransactionNo').val() == '') {
                $("#TransactionNo").addClass('errortext');
                $('#TransactionNo').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BranchName').val() == '') {
                $("#BranchName").addClass('errortext');
                $('#BranchName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#Fk_Paymentid').val() == '6') {
            if ($('#TransactionNo').val() == '') {
                $("#TransactionNo").addClass('errortext');
                $('#TransactionNo').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BranchName').val() == '') {
                $("#BranchName").addClass('errortext');
                $('#BranchName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#Fk_Paymentid').val() == '7') {
            if ($('#TransactionNo').val() == '') {
                $("#TransactionNo").addClass('errortext');
                $('#TransactionNo').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }

        }
        else if ($('#Fk_Paymentid').val() == '8') {
            if ($('#TransactionNo').val() == '') {
                $("#TransactionNo").addClass('errortext');
                $('#TransactionNo').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#Fk_Paymentid').val() == '9') {
            if ($('#TransactionNo').val() == '') {
                $("#TransactionNo").addClass('errortext');
                $('#TransactionNo').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        $("#divload").css({ 'display': '' });
        return true;
    }
    function getStateCity() {

        var pincode = $('#Pincode').val();
        $.ajax({
            url: '/Master/GetStateCity', type: 'post', dataType: 'json',
            data: { 'Pincode': pincode },
            success: function (data) {
                if (data.Result == "yes") {
                    $("#State").val(data.State);
                    $("#City").val(data.City);
                    $("#State").removeClass('errortext');
                    $("#City").removeClass('errortext');
                    $("#Pincode").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    alert("Invalid Pincode");
                    $("#State").val('');
                    $("#City").val('');
                    $("#State").addClass('errortext');
                    $("#City").addClass('errortext');
                    $("#Pincode").addClass('errortext');
                    $('#Pincode').focus();
                    $('#Pincode').val('');

                }
            }

        });
    }
    function GetProjectName() {
        debugger;
        $("#divload").css({ 'display': '' });
        var PK_CompanyID = $('#PK_CompanyID').val();
        $.ajax({
            url: '/Investment/GetProjectName', type: 'post', dataType: 'json',
            data: { 'PK_CompanyID': PK_CompanyID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#FK_ProjectID").html(""); // clear before appending new list
                $("#FK_ProjectID").empty();
                $("#FK_ProjectID").append(
                      $('<option></option>').val(0).html('Select Project'));
                $.each(data.ddlProject, function (index, ProjectCount) {
                    $("#FK_ProjectID").append(
                          $('<option></option>').val(ProjectCount.Value).html(ProjectCount.Text));
                });
                //    $("#BlockID").formSelect();
            }

        });
    }
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    function validatePan() {
        var panVal = $('#PanNo').val();
        var regpan = /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/;

        if (regpan.test(panVal)) {
            $("#PanNo").removeClass('errortext');
        } else {
            alert("Invalid PAN Number");
            $("#PanNo").val('');
            $("#PanNo").addClass('errortext');
        }
    }
    $('#TransactionDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#InvestmentDate').datepicker({
        dateFormat: 'dd/mm/yy',
        maxDate: 0,
        changeYear: true,
        changeMonth: true
    });
    //$("#TransactionDate").datepicker({ dateFormat: "dd-mm-yy" }).val()
    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function OnChangePlan()
    {
        debugger
        if ($('#PK_PlanID').val() == '0') {
            $("#PK_PlanID").addClass('errortext');
            $('#PK_PlanID').focus();
            $("#PlanA").hide();
            $("#PlanB").hide();
            $("#PlanC").hide();
            return false;
        }
        else {
            if ($('#PK_PlanID').val() == '1') {
                $("#PlanA").show();
                $("#PlanB").hide();
                $("#PlanC").hide();
            }
            if ($('#PK_PlanID').val() == '2') {
                $("#PlanA").hide();
                $("#PlanB").show();
                $("#PlanC").hide();
            }
            if ($('#PK_PlanID').val() == '3') {
                $("#PlanA").hide();
                $("#PlanB").hide();
                $("#PlanC").show();
            }
        }
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #ffffff !important;
    }
</style>


