@model InvestorsCRM.Models.Master
@{
    ViewBag.Title = "InvestmentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@using (Html.BeginForm("InvestmentList", "Investment", FormMethod.Post, new { @id = "signupForm", @novalidate = "" }))
{
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Master/Index"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="#">Investment List</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        @if (@TempData["update"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="float:right">
                                <strong> @TempData["update"]!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        }
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="Username">Investor ID </label>
                                    @Html.TextBoxFor(m => m.PK_InvestorID, new { @class = "form-control", @placeholder = "Login ID" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="Username">From Date</label>
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @placeholder = "From Date", @readonly = "true" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="Username">To Date</label>
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @placeholder = "ToDate", @readonly = "true" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <input type="submit" style="margin-top:30px;" class="btn  btn-success" name="btnSearch" value="Search" />
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="/Investment/InvestmentForm" class="btn btn-info" style="margin-left:70%;margin-top:30px;">Add New</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Investment List</h5>
                        </div>
                        <div class="card-body">
                            <div class="card-block">
                                <div class="dt-responsive table-responsive">
                                    <table class="table table-bordered table-striped table-md" data-page-length='25' id="tableExport" style="width:100%;" >
                                        <thead>
                                            <tr>
                                                <th>S.N.</th>
                                                 <th>Investor Name</th>
                                                <th>Sponsor LoginId</th>
                                                <th>Amount</th>
                                                <th>Transaction No</th>
                                                <th>Transaction Date</th>
                                                <th>Bank Name</th>
                                                <th>Branch Name</th>
                                                <th>Payment Mode</th>
                                                <th>Project Name</th>
                                                <th>Company Name</th>
                                                <th>PlanName</th>
                                                <th>Agreement</th>
                                                <th>InvestmentDate </th>
                                                <th>Action </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.lstInvestment != null)
                                                {
                                                    int i = 1;
                                                    foreach (var item in Model.lstInvestment)
                                                    {
                                                        <tr>
                                                            <td>@i</td>
                                                            @*<td>@item.LoginID</td>*@
                                                            <td>@item.FullName</td>
                                                            <td>@item.FK_SponsorId</td>
                                                            <td>@item.Amount</td>
                                                            <td>@item.TransactionNo</td>
                                                            <td>@item.TransactionDate</td>
                                                            <td>@item.BankName</td>
                                                            <td>@item.BranchName</td>
                                                            <td>@item.Fk_Paymentid</td>
                                                            <td>@item.ProjectName</td>
                                                            <td>@item.CompanyName</td>
                                                            <td>@item.PlanName</td>
                                                            <td>
                                                                <a href="@item.Image" download>
                                                                    <i class="fa fa-file-pdf-o" style="font-size:25px;color:black">
                                                                        @*<i class="mdi mdi-download" style="font-size:25px;color:black"></i>*@
                                                                        <i class="fa fa-download" aria-hidden="true" style="font-size:25px;color:black"></i>
                                                                    </i>
                                                                </a>
                                                            </td>
                                                            <td>@item.InvestmentDate</td>
                                                            <td style="display:none">
                                                                @*<input type="text" name="PK_InvestmentId" value="PK_InvestmentId" hidden="true" />*@
                                                            </td>
                                                            <td><a href="/Investment/InvestmentForm?Id=@item.UserID" class="btn btn-default"><i class="fa fa-eye" style="font-size:20px"></i></a></td>
                                                        </tr>
                                                        i = i + 1;
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
</script>
<script>
    $(document).ready(function () {
        $('#tableExport').after('<div id="nav"></div>');
        var rowsShown = 10;
        var rowsTotal = $('#tableExport tbody tr').length;
        var numPages = rowsTotal / rowsShown;
        for (i = 0; i < numPages; i++) {
            var pageNum = i + 1;
            $('#nav').append('<a href="#" rel="' + i + '">' + pageNum + '</a> ');
        }
        $('#tableExport tbody tr').hide();
        $('#tableExport tbody tr').slice(0, rowsShown).show();
        $('#nav a:first').addClass('active');
        $('#nav a').bind('click', function () {

            $('#nav a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#tableExport tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
            css('display', 'table-row').animate({ opacity: 1 }, 300);
        });
    });
</script>
